<div class="flex justify-center items-center h-screen">
  <div class="w-full max-w-xs">
    <h2 class="text-center text-2xl font-bold mb-4">Login</h2>
    <form
      (ngSubmit)="handleSubmit()"
      [formGroup]="loginForm"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    >
      <app-label-input
        labelText="Email :"
        for="email"
        controlName="email"
        type="email"
        [formGroup]="loginForm"
      />
      <app-label-input
        labelText="Password :"
        for="password"
        controlName="password"
        type="password"
        [formGroup]="loginForm"
      />
      <div class="mb-4">
        <a routerLink="/register">Don't have an account? To register</a>
      </div>
      <app-button
        [disabledBtn]="!loginForm.valid"
        btnText="Login"
        classList="bg-blue-500 hover:bg-blue-700"
      />
    </form>
  </div>
</div>
