# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.test-inforce-test_1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
bin/
obj/
**/rider.project.model.nuget.info
**/rider.project.restore.info
**/*.AssemblyReference.cache
**/project.packagespec.json
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
mono_crash.*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode/
.idea/
ScaffoldingReadMe.txt
.localtoolmanifest.json
.ncrunchsolution
.DS_Store
*.lnk
secrets.json